@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Francois+One');
* ,::after, ::before{
    box-sizing: border-box;
    transition: all 0.5s;
}
:root{
    --orange: #d69a37;
    --dark-orange: #ff4a1a;
    --fade-grey: #fbfaec;
}
body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--fade-grey);
    height: 110px;
    width: 100%;
}
a{
    color: var(--orange);
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: var(--dark-orange);
}
.top-center >a>img{
    background-repeat: no-repeat center;
    background-size: contain;
    height: 100px;
    width:315px;
} 
.top-left{
    margin-left: 20px;
    font-size: 11px;
}
.top-left a{
    padding: 9px;
}
.top-right{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    text-align: right;
    font-size: 12px;  
}
.works{
    display: flex;
    flex-direction: column;
}
.works a{
    margin: 3px
}
.socials {
    padding: 5px;
}
.socials a{
    justify-content: flex-end;
    padding: 2px;
}
.bgimage{
    background:  url("assets/YTN_HARRY_HUDSON_WIDE.jpg") no-repeat center;
    background-size: cover;
    height:128vh;
    width: 100%;
}
.container{
    background-color:var(--fade-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;     
}
 h3.album-name{
    font-family: 'Francois One', sans-serif;
    font-size: 25px;
    letter-spacing: .08em;
    text-transform: capitalize;
    padding: 0px;
 }
 h1.album-name{
    font-family: 'Francois One', sans-serif;
    font-size: 70px;
    letter-spacing: .08em;
    text-transform: capitalize; 
    padding: 0px;
    margin-top: -10px;
    margin-bottom: 25px;
  
 }
 .primary-button{
     background-color: var(--dark-orange);
     padding: 21px 34px;
     width: 280px;
     height: 62px;
     text-align: center;
     text-transform: uppercase;
     outline: none;
     font-family: angie-sans;
     font-size: 15px;
     font-weight: 800;
     letter-spacing: .12em;
     color: var(--fade-grey);
     border: none;
     cursor: pointer;
     margin-bottom: 20px;

 }
 .primary-button:hover{
     opacity: .8;
 }
div.follow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}