@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    box-sizing: border-box;
    transition: all 0.5s;
}
body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 15px;
 font-weight: 600;
 letter-spacing: 0.08em;
 text-transform: uppercase;
 text-decoration: none;
 background: #fbfaec;
 height: 110px;
 width: 100%;

}

.top-center >a>img{
    background-repeat: no-repeat center;
    background-size: contain;
    height: 100px;
    width:315px;
} 
.top-left{
    margin-left: 20px;
    font-size: 8px;
   
}
.top-left a{
    padding: 14px;
}
.top-right{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    text-align: right;
    font-size: 12px;  
}
.works{
    display: flex;
    flex-direction: column;
}
.works>a{
    margin: 3px
}
a{
    color: #d69a37;
    text-decoration: none;
    cursor: pointer;
}

.socials {
    display: flex; 
    flex-direction: row;
    text-align: right;
    padding: 5px;
}
.socials >a{
    text-align: right;
    padding: 3px;
    font-size: 5px;

}
.bgimage{
    background:  url("assets/YTN_HARRY_HUDSON_WIDE.jpg");
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    height:172vh;
    width: 100%;
}